body, html{
    padding:0;
    margin:0;
    color: #000000;
    height: 100%
}

.container{
    display: flex;
    background-color:  hsl(47, 88%, 63%);
    justify-content: center;
    align-items: center;
    height: 100%;

}

.content{
    background-color:hsl(0, 0%, 100%);
    padding:2rem;
    border-radius: 20px;
    
}

.logo{
    width: 400px;
    object-fit: contain;
    border-radius: 15px;
}

#title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: hsl(47, 88%, 63%);
    
}

p{
    font-size: 14px;
    font-weight: 700;
}

.small{
    font-size: 16px;
    line-height: 1.4;
    width: 400px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 42%);
}
.btn{
    display: flex;
    padding: 10px ;
    margin-top: 20px;
    text-decoration: none;
    color:#000000 ;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color:hsl(47, 88%, 63%);
}

.avatar{
    display: flex;
    gap: 20px;
}

.avatar p{
    font-size: 15px;
    font-weight: 700;
}

.btn:hover{
    background-color:hsl(47, 89%, 73%);
}

.attribution{ 
    font-size: 11px; text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }